.page {
  background: white;
}

.contact-field {
  margin: 10px;
}

.add-contact {
  margin: 10px;
}

.meetup-bg {
  margin-top: 20px;
  background: red;
  border-radius: 5%;
}

.contact-component {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.event {
  color:red;
}

.navbar {
  background: red;
  color:black;
}

.event-component {
  margin: 10px 5px;
  padding: 10px 25px;
  cursor: pointer;
  background: red;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}