.page {
  background: white;
}

.contact-field {
  margin: 10px;
}

.add-contact {
  margin: 10px;
}

.meetup-bg {
  margin-top: 20px;
  background: red;
  border-radius: 5%;
}

#meetup-event {
  background-color: white;
  padding: 25px 15px;
}

.contact-component {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.date-card-text{
  color: white;
}

.group-card-text {
  color: black;
  font-weight: bold;
}

.meetup-label {
  background-color: white;
  margin: 25px;
  padding: 25px;
  text-align: center;
}

.event {
  color:red;
}

.navbar {
  background: red;
  color:black;
}

.event-component {
  margin: 10px 5px;
  padding: 10px 25px;
  cursor: pointer;
  background: red;
  color:white;
}

.event-list-title {
  text-align: center;
  margin: 25px 0px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.loginButton {

}